<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mon premier dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>    
    <script src="/static/mydashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
</head>

  <body>
    <a href="{{ url_for('index') }}">Accueil</a>
    <div class="content">
      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Mon dashboard
          </h1>
        </div>
      </header>
      
      <main>
        <div class="chartContainer">
            <div id="wallet" class="chart">
              <text class="chartTitle">Wallet</text>
              <svg></svg>
            </div>
        </div>
        <div class="chartContainer">
          <div id="stock" class="chart">
            <text class="chartTitle">one stock</text>
            <svg></svg>
          </div>
      </div>
      </main>
    </div>
    
  </body>
  
</html>